@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');


:root{
   -color: #1B0F1F
    #3B1F3F
    #5B2F5F
    #7B3F7F
    #9B4F9F
}

*{
  font-family: 'Nunito', sans-serif;
}
::-webkit-scrollbar{
  display: none;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    height: 90vh;
    justify-content: center;
    background: #1B0F1F;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }


  #message-container {
    width: 80%;
    max-width: 1200px;
    border-radius: 7px;
    overflow: hidden;
    background: #3B1F3F;
    padding: 10px 20px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 50px;
    height: 100%;
    overflow-y: scroll;

  }


  #send-container {
    background: #3B1F3F;
    width: 80%;
    max-width: 100%;
    border-radius: 7px;
    padding: 20px;
    display: flex;
    gap: 15px;
  }

  #message-input {
    flex-grow: 1;
  }
  #send-container input{
  width: 70%;
  border: 2px solid #7B3F7F;
  background: transparent;
  color: #fff;
  outline: none;
  padding: 6px;
  border-radius: 30px;

  }
  #send-container input:focus{
    border: 2px solid #9B4F9F;
  }
  #send-container button{
    padding: 6px;
    width: 6em;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #7B3F7F;
    color: #fff;
  }
  #send-container button:focus{
    border: 2px solid #9B4F9F;
  }
.sent{
    color: #fff;
    background: #9B4F9F;
    width: fit-content ;
    padding: 6px;
    border-radius: 8px;
}
.received{
    color: #fff;
    background: purple;
    width: fit-content ;
    padding: 6px;
    border-radius: 8px;
}

.messageSec{
  display: flex;
  width: 100%;
}

.messageSec .left{
}
.messageSec.right{
  justify-content: flex-end;
}
